<div class="intro_wrapper">
        <div class="container">  
            <div class="row">        
                 <div class="col-sm-12 col-md-8 col-lg-8">
                    <div class="intro_text">
                        <h1>Blog Style Three</h1>
                        <div class="pages_links">
                            <!-- <a href="#" title="">Home</a>
                            <a href="#" title="" class="active">blog Page</a> -->
                        </div>
                    </div>
                </div>              

            </div>
        </div> 
    </div> 

    <section class="unlimited_possibilities">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="sub_title">
                    <h2>Our Story</h2>
                    <p>Klipvalley Primary School was officially registerd on the 1st of January 2004. This is a Public Primary School in City of Johannesburg.Klip Valley Primary School academic results consistently maintain good national achievements, but there’s so much more than a good academic record.

                        Since the school opened it's doors, it has been a place where all students in Gauteng and beyond, can call home as it celebrate and embrace ethnic and cultural diversity.</p>  
                </div><!-- ends: .section-header -->
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                 <div class="single_item single_item_first">
                    <div class="icon_wrapper">
                        <i class="flaticon-student"></i>
                    </div>
                    <div class="blog_title">
                        <h3><a href="#" title="">Grades Accomodated</a></h3> 
                        <p>Accomodates Grades R to Grade 7.</p>                    
                    </div>   
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-4">
                <div class="single_item single_item_center">
                    <div class="icon_wrapper">
                        <i class="flaticon-university"></i>
                    </div>
                    <div class="blog_title">
                        <h3><a href="#" title="">Learner Statistics</a></h3> 
                        <p>Total number of students: 1128</p>                    
                    </div>   
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-4">
               <div class="single_item single_item_last">
                <div class="icon_wrapper">
                        <i class="flaticon-diploma"></i>
                    </div>
                    <div class="blog_title">
                        <h3><a href="#" title="">Educator Statistics</a></h3> 
                        <p>Total number of quality Educators: 38</p>
                    </div>   
                </div>
            </div>             
        </div>
    </div>
</section><!-- End Unlimited Possibilities -->

<!--========={ Our Instructiors }========-->
<section class="our_instructors" id="about_our_instructors">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="sub_title">
                    <h2>Meet Our School Management Team</h2>
                    <p>Lorem ipsum dolor sit amet mollis felis dapibus arcu donec viverra. Pede phasellus eget. Etiam maecenas vel vici quis dictum rutrum nec nisi et.</p>  
                </div><!-- ends: .section-header -->
            </div>
            <div class="single-wrappe col-12 col-sm-6 col-md-4 col-lg-4">
                <div class="team-single-item">
                    <figure>
                        <div class="member-img">
                            <div class="teachars_pro">
                                <img src="images/team/team_1.jpg" alt="member img" class="img-fluid">
                            </div>
                        </div>
                        <figcaption>
                            <div class="member-name">
                                <h4><a href="#" title="">Mokete Tsotesti</a></h4>
                                <span>Principal</span>
                            </div>                            
                        </figcaption>
                    </figure>
                </div>
            </div>
            
            <div class="single-wrapper col-12 col-sm-6 col-md-4 col-lg-4">
                <div class="team-single-item">
                    <figure>
                        <div class="member-img">
                            <div class="teachars_pro">
                                <img src="images/team/team_2.jpg" alt="member img" class="img-fluid">
                            </div>
                        </div>
                        <figcaption>
                            <div class="member-name">
                                <h4><a href="#" title="">Anna Makhubela</a></h4>
                                <span>Deputy Principal</span>
                            </div>                            
                        </figcaption>
                    </figure>
                </div>
            </div>
            
            <div class="single-wrapper  col-12 col-sm-6 col-md-4 col-lg-4">
                <div class="team-single-item ">
                    <figure>
                        <div class="member-img">
                            <div class="teachars_pro">
                                <img src="images/team/team_3.jpg" alt="member img" class="img-fluid">
                            </div>
                        </div>
                        <figcaption>
                            <div class="member-name">
                                <h4><a href="#" title="">Dorah Biqa</a></h4>
                                <span>SGB Representative</span>
                            </div>                            
                        </figcaption>
                    </figure>
                </div>
            </div>
            
            <div class="single-wrapper col-12 col-sm-6 col-md-4 col-lg-4">
                <div class="team-single-item">
                    <figure>
                        <div class="member-img">
                            <div class="teachars_pro">
                                <img src="images/team/team_4.jpg" alt="member img" class="img-fluid">
                            </div>
                        </div>
                        <figcaption>
                            <div class="member-name">
                                <h4><a href="#" title="">Hilda Malepa</a></h4>
                                <span>Head of Department Intermidiate Phase</span>
                            </div>                            
                        </figcaption>
                    </figure>
                </div>
            </div>                    
            <div class="single-wrapper col-12 col-sm-6 col-md-4 col-lg-4">
                <div class="team-single-item">
                    <figure>
                        <div class="member-img">
                            <div class="teachars_pro">
                                <img src="images/team/team_5.jpg" alt="member img" class="img-fluid">
                            </div>
                        </div>
                        <figcaption>
                            <div class="member-name">
                                <h4><a href="#" title="">Thulane Jacobs</a></h4>
                                <span>Head of Department Foundation Phase</span>
                            </div>                            
                        </figcaption>
                    </figure>
                </div>
            </div>                    
            <div class="single-wrapper col-12 col-sm-6 col-md-4 col-lg-4">
                <div class="team-single-item">
                    <figure>
                        <div class="member-img">
                            <div class="teachars_pro">
                                <img src="images/team/team_6.jpg" alt="member img" class="img-fluid">
                            </div>
                        </div>
                        <figcaption>
                            <div class="member-name">
                                <h4><a href="#" title="">Jonson Park</a></h4>
                                <span>Asistant</span>
                            </div>                            
                        </figcaption>
                    </figure>
                </div>
            </div>                    
        </div>
    </div>
</section><!-- ./ End Our Instructiors -->


<section class="learn_shep">
    <div class="container">            
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-5">
                <div class="title">
                    <h2>Join the valley of knowledge.</h2>
                    <p>Our vision is to develop a well-rounded community of diverse learners by creating a caring and nurturing environment.Children are encouraged to think creatively and independently, as this develops leadership qualities. Constant stimulation using the latest educational aids and equipment challenges the children each day.
 </p>
                    <a href="#" title="">Learn More</a>
                 </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">            
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-7 ml-auto p-0">
                <div class="shep_banner_wrapper">
                    <div class="step_single_banner">
                        <img src="images/features/features_2_1.jpg" alt="" class="img-fluid">
                        <img src="images/features/features_2_2.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="step_single_banner" >
                        <img src="images/features/Klip_pic2.jpg" alt="" class="img-fluid" >
                    </div>
                 </div>
            </div>
        </div>
    </div>
</section><!-- End Larnign Step -->

   </div>
    <div class="shape_bg">
        <span class="shape_1"></span> 
        <span class="shape_2"></span> 
        <span class="shape_3"></span>
    </div>    
</section> <!-- ./ End Courses Area section -->


<section class="register_area">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-5">
                <div class="row">
                    <!-- <div class="form-full-box"> -->
                        <!-- <div class="form_title">
                            <h2>Become A Membar</h2>
                            <p>Get Instant access to <span>5000+ </span>Video courses </p>
                        </div> -->
                      <!--  <form>
                            <div class="register-form">
                                <div class="row">
                                    <div class="col-12 col-xs-12 col-md-12">
                                        <div class="form-group">
                                            <label><i class="fas fa-user"></i></label>
                                            <input class="form-control" name="name" placeholder="Write Your Name" required="" type="text">
                                        </div>
                                    </div>

                                    <div class="col-12 col-xs-12 col-md-12">
                                        <div class="form-group">
                                            <label><i class="flaticon-email"></i></label>
                                            <input class="form-control" name="email" placeholder="Write Your E-mail" required="" type="email">
                                        </div>
                                    </div>
                                    <div class="col-12 col-xs-12 col-md-12">
                                        <div class="form-group massage_text">
                                            <label><i class="flaticon-copywriting"></i></label>
                                            <textarea class="form-control"  placeholder="Write Something Here" required=""></textarea>
                                        </div>
                                    </div>
                                    <div class="col-12 col-xs-12 col-md-12 register-btn-box">
                                        <button class="register-btn" type="submit">Send Now</button>
                                    </div>
                                </div>
                            </div>
                        </form> -->
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-7 form-content">
                <h2>We forsee a bright future<br> in our children</h2>
                <p>We do all that is possible to carefully plan an environment where the child can realise their full potential and thus make the best possible use of their life.<br> An atmosphere is created that encourages responsibility, self-discipline and co-operation in the group, social interaction and a positive self-image<br></p>
                <div class="count_student">
                    <div class="single_count">
                        <span class="counter">1128</span>
                        <span class="department_name">Students</span>
                    </div>                    
                    <div class="single_count">
                        <span class="counter">38</span>
                        <span class="department_name">Teachers</span>
                    </div>                    
                    <div class="single_count">
                        <span class="counter">10</span>
                        <span class="department_name">Subjects</span>
                    </div>
                </div>  
            </div>
        </div>
    </div>
</section><!-- ./ End Register Area section -->

